{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>URLshortener</title>
  </head>
  <body>
    <form id = "form1"  method="post">
      <input id = "userinput" type="text" name="" value="" placeholder="Enter URL">
      <button id = "button_submit" type="submit" name="button"></button>
    </form>
    <br><br><br>
    <div id = "ans">
    answer
    </div>
  </body>
</html>
